* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

.header-content {
    font-size: 1rem;
    margin-bottom: 4rem;
}

nav {
    grid-area: nav;
    background-color: #000;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
}

.navigation li {
    flex: 1 1 auto;
    min-width: 120px;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #555;
    text-decoration: underline;
}

main {
    grid-area: main;
    background-color: #ccc;
    padding: 3rem;
}

.main-content {
    font-size: 1.5rem;
}

aside {
    grid-area: aside;
    background-color: #fff;
    padding: 2rem;
}

.aside-content {
    font-size: 1.5rem;
}

footer {
    grid-area: footer;
    background-color: #333;

    color: #fff;
    text-align: center;
    padding: 3rem;
}

.footer-content {
    font-size: 1.2rem;
}